*{
    margin:0;
    padding:0;
}


.header{
    display:flex;
    width:100%;
    background-color:yellow;
    align-items:center;
}
.header h1{
    margin:auto;
    
}
h1{
    font-family:sans-serif;
    font-size:1rem;
    color:rgb(255, 166, 0);
}